Cleaned_Data_and_Notebook/unzipped_data

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

common_testing_data/unzipped_data
common_training_data/unzipped_data
